* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333346;
    padding: 20px;
}

#hero{
    margin: 20px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    color: #FF9;

}

.btn{
    width: 90px;
    padding: 10px;
    margin: 0 20px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #2F4F4F;
    color: #e7e7e7;
}
.btn:hover{
    background-color: #467373;
    cursor: pointer;
}

#main{
    display: flex;
    justify-content: end;
    background-color: #f4f4f4;
}
#pizza_img{
    border: 2px solid black;
    border-radius: 15px;
    width: 1150px;
    height: 373px;
    margin: 116px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
#pizza_img:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
#desc{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 60px;
    font-size: x-large;
}

footer{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    background-color: #2d2d42;
    color: #a8a4a4;
}





/* MENU PART */

#menuHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #333346;
    color: #FF9;
    font-size: 55px;
    flex-direction: column;
}

.pza{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #d5d5d5;
    align-items: center;
    border-radius: 10px;
}

#pizzaText{
    margin: 20px;
}
#pizzaImage{
    margin: 20px;
    max-width: 259px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
#pizzaImage:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.ovs{
    width: 250px;
}
.AddButton{
    padding: 7px;
    margin: 7px 0;
    cursor: pointer;
}




/* Order file */

.order-page {
    margin: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #333346; 
    flex-direction: column;
}
.order-page #buttons{
    margin: 20px 0 50px 0;
}
#final_cart {
    width: 40vh;
    height: 60vh;
    text-align: center;
    padding: 10px;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 10px rgba(162, 161, 161, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures total stays at the bottom */
}

#final_items {
    flex-grow: 1; /* Fills remaining space above total */
    overflow-y: auto; /* Adds scroll if items exceed height */
}

#final_total {
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}
#bbqDisplay{ 
    background-color: #dbd7d7;
    padding: 5px;
    text-align: initial;
    margin: 5px;
    border-radius: 3px;
}
#pprDisplay{ 
    background-color: #dbd7d7;
    padding: 5px;
    text-align: initial;
    margin: 5px;
    border-radius: 3px;

}
#mghDisplay{ 
    background-color: #dbd7d7;
    padding: 5px;
    text-align: initial;
    margin: 5px;
    border-radius: 3px;

}


